@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
body{
    background-color:black;
    color: white;
    font-family: 'Caveat', sans-serif;
    font-size: 24px;
}
strong {
    color: rgb(148, 1, 1);
}
h1{
    color: gray;
    font-weight: bold;
}
p {
    color: darkgray;
}
footer {
    color: #22D4FD;
    font-size: 24px;
}
a {
    color: rgb(148, 1, 1);
}
ul{
    color: #228B22;
}
span{
    color: #DC143C	;
    border: 1px solid darkgrey;
    padding: 10px;
}
.apresentacao_links_link {
    display: flex;
    border: 2px solid #22D4FD;
    width: 178px;
    text-align: center;
    border-radius: 8px;
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
    color: #f6f6f6;
    font-family: 'Caveat', sans-serif;
    justify-content: center;
    gap: 16px;
}
a:hover {
    background-color: #22D4FD
}
.apresentacao_links_link:hover{
    background-color: #272727;
    cursor: pointer;
}
.rodape{
    color: #000000;
    background-color: #22D4FD;
    margin: 28px;
    padding: 24px;
    text-align: center;
    font-family: 'Caveat', sans-serif;
    font-size: 27px;
    font-weight: 400;
}
.apresentacao{
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Cabecalho_menu_link{
    font-size: 30px;
    color: #3CB371;
    margin: 0 10px;
    padding: 5px 10px;
    text-decoration: none;
}
.Cabecalho_menu_link:hover{
    color: #007bff;  
}
.Cabecalho_menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}